.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
  transform: rotateY(-180deg);
}

.shape .shapeFill {
  fill: #ffffff;
}
